body {
    background-color: #000000;
}

.pokedex-title {
    color: #ffffff;
    font-weight: bold;
}

.search-bar input {
    max-width: 600px;
    margin: auto;
}

#pokemonContainer .pokemon-card {
    margin: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
}

.pokemon-card img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.pokemon-card .card-body {
    padding: 2px 16px;
}

.load-more button {
    width: 200px; 
    border-radius: 20px;
    background-color: #fff;
}
